<div class="card flex justify-content-center mt-4">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-3">
    <div class="text-center mb-3">
      <div class="text-900 text-3xl font-medium mb-1">Registrati</div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="signUp()">
      <div class="flex-wrap justify-content-center">
        <label for="firstName" class="block text-900 font-medium mb-2"
          >First Name</label
        >
        <input
          formControlName="firstName"
          aria-describedby="firstName-help"
          id="firstName"
          type="text"
          placeholder="First Name"
          pInputText
          class="w-full mb-2"
        />

        <label for="lastName" class="block text-900 font-medium mb-2"
        >Last Name</label
        >
        <input
        formControlName="lastName"
        aria-describedby="lastName-help"
        id="lastName"
        type="text"
        placeholder="Last Name"
        pInputText
        class="w-full mb-2"
        />

        <label for="username" class="block text-900 font-medium mb-2"
          >Username</label
        >
        <input
          formControlName="username"
          aria-describedby="username-help"
          id="username"
          type="text"
          placeholder="Username"
          pInputText
          class="w-full mb-2"
        />

        <label for="email" class="block text-900 font-medium mb-2">Email</label>
        <input
          formControlName="email"
          aria-describedby="email-help"
          id="email"
          type="text"
          placeholder="Email"
          pInputText
          class="w-full mb-2"
        />

        <label for="confirmEmail" class="block text-900 font-medium mb-2"
          >Confirm Email</label
        >
        <input
          formControlName="confirmEmail"
          aria-describedby="confirmEmail-help"
          id="confirmEmail"
          type="text"
          placeholder="Confirm Email"
          pInputText
          class="w-full mb-2"
        />


        <label for="password" class="block text-900 font-medium mb-2"
          >Password</label
        >
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [inputStyle]="{ width: '100%' }"
          placeholder="Password"
          [style]="{ width: '100%' }"
          id="password1"
        >
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>

        <label for="confirmPassword" class="block text-900 font-medium mt-3 mb-2"
          >Confirm Password</label
        >
        <p-password
          [toggleMask]="true"
          formControlName="confirmPassword"
          [inputStyle]="{ width: '100%',}"
          placeholder="Confirm Password"
          [style]="{ width: '100%' }"
          id="password2"
        >
        </p-password>

        <div class="flex align-items-center justify-content-end mt-4 mb-5">
          <span class="text-600 font-medium line-height-3"
            >Already have an account?</span
          >
          <a
            routerLink="/auth/login"
            class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
            >Sign In!</a
          >
        </div>

        <button
          type="submit"
          pButton
          pRipple
          label="Sign In"
          icon="pi pi-user"
          class="w-full"
        ></button>
      </div>
    </form>
  </div>
</div>
