.surface-section {
  background-color: #f4f4f4;
}

h3 {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

ul li a {
  text-decoration: none;
  color: #007ad9;
}

ul li a:hover {
  text-decoration: underline;
}

.p-link {
  color: #007ad9;
  transition: color 0.3s;
}

.p-link:hover {
  color: #005bb5;
}

.pi-2x {
  font-size: 2rem;
}

footer {
  text-align: center;
}

