<p-menubar class="menu__logo" [model]="items">
  <ng-template class="" pTemplate="start">
    <div class="container__logo">
      <img routerLink="/" class="logo" src="../../../assets/Logo4.png" alt="Logo Image">
    </div>
  </ng-template>
  <ng-template pTemplate="item" let-item let-root="root">
    <a *ngIf="item.visible !== false" pRipple [routerLink]="item.route" class="flex align-items-center p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
      <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <p-button *ngIf="!(user$ | async)" pRipple label="Sign In" [raised]="true" routerLink="/auth/login" />
      <div class="card flex justify-content-center">
        <p-menu [popup]="true" #menu [model]="avatarItems" styleClass="w-full md:w-15rem">
          <ng-template pTemplate="start"></ng-template>
          <ng-template pTemplate="submenuheader" let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            <a *ngIf="item.visible !== false" pRipple class="flex align-items-center p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
            </a>
          </ng-template>
          <ng-template pTemplate="end">
            <button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
              <span class="inline-flex flex-column">
                <span class="font-bold">{{firstName}} {{lastName}}</span>
                <span class="text-sm">{{userRole}}</span>
              </span>
            </button>
          </ng-template>
        </p-menu>
        <p-avatar *ngIf="(user$ | async)" (click)="menu.toggle($event)" label="U" size="large" styleClass="mr-2" shape="circle" />
      </div>
    </div>
  </ng-template>
</p-menubar>
<p-dialog header="New Project" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Create a new project.</span>
  <form [formGroup]="projectForm">
    <div class="p-field mt-5">
      <label for="projectName" class="font-semibold w-6rem mb-3">Project Name</label>
      <input pInputText id="projectName" formControlName="projectName" class="flex-auto" autocomplete="off" />
    </div>
    <div class="p-field mt-5">
      <label for="projectDescription" class="font-semibold w-6rem mb-3" for="description"
        >Description</label
      >
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="projectDescription">
    </textarea>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="visible = false" />
      <p-button label="Save" (click)="createProject()" />
    </div>
  </form>
</p-dialog>
