<div
class="mx-8 mt-5 flex align-items-start flex-column lg:justify-content-between lg:flex-row"
>
<div>
  <div class="font-medium text-3xl text-900">Benvenuto</div>
  <div class="flex align-items-center text-700 flex-wrap">
    <div class="mr-5 flex align-items-center mt-3">
      <i class="pi pi-globe mr-2"></i>
      <span>{{ allTask.length }} tasks</span>
    </div>
  </div>
</div>
<div class="mt-3 lg:mt-0">
  <button
  routerLink="/admin/task"
    pButton
    pRipple
    label="Nuova Task"
    class="p-button-outlined mr-2"
    icon="pi pi-list-check"
    disabled
  ></button>
</div>
</div>

<div class="mt-5">
  <p-pickList
    [source]="availableTasks"
    [target]="completedTasks"
    sourceHeader="Available Tasks"
    targetHeader="Selected Tasks"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    filterBy="name"
    sourceFilterPlaceholder="Search by title"
    targetFilterPlaceholder="Search by title"
    breakpoint="1400px"
    (onMoveToTarget)="onTaskMoveToTarget($event)"
    (onMoveToSource)="onTaskMoveToSource($event)"
    (onMoveAllToTarget)="onMoveAllToTarget($event)"
    (onMoveAllToSource)="onMoveAllToSource($event)"
  >
    <ng-template pTemplate="sourceControls"></ng-template>
    <ng-template pTemplate="targetControls"></ng-template>
    <ng-template pTemplate="controls"></ng-template>

    <ng-template let-task pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">
            {{ task.title }}
            <p-chip label="{{ task.category?.categoryType || 'No Category' }}" class="ml-2"></p-chip>
          </span>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-file text-sm"></i>
            <span>
              {{ task.description }}
            </span>
          </div>
        </div>
        <span class="font-bold text-900">
          {{ task.status }}
        </span>
        <p-inputSwitch
          [ngModel]="task.status"
          (onChange)="toggleStatus(task)"
          [trueValue]="'IN_CORSO'"
          [falseValue]="'NON_ACCETTATO'"
        ></p-inputSwitch>
      </div>
    </ng-template>
  </p-pickList>
  <p-toast />
</div>

